.contacts-list {
    display: flex;
    flex-direction: column;
}

.contact {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--secondary-color);
    height: 45px;
    padding: 5px 10px;
    cursor: pointer;
    border-bottom: 1px solid var(--border-color);
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
}

.contact:first-child {
    border-radius: 3px 3px 0 0;
    border-top: 1px solid var(--border-color);
}

.contact:last-child {
    border-radius: 0 0 3px 3px;
}

.contact-picture, .form-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
}

.form-box {
    border-radius: 3px;
    border: 1px solid var(--border-color);
    font-size: 20px;
    font-weight: bolder;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.form-box.alt {
    background-color: var(--text-color);
    color: var(--secondary-color);
    height: 36px;
    width: 36px;
}

.contacts-table th:not(.td) {
    width: 100%;
    display: flex;
    justify-content: center;
}

.contacts-table th:nth-child(2) {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

th.td {
    min-width: 34px;
}

.phone-number-container, .email-container, .contact-name-container, .contact-name-info, .contact-detail-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    width: 100%;
}

.contact-name-container {
    align-items: center;
}

.contact-name-info {
    margin-bottom: 15px;
}

.contact-detail-container {
    align-items: end;
    gap: 5px;
    margin-bottom: 15px;
}

.fname, .mname, .lname {
    width: 30%;
}

.prefix, .suffix {
    width: 25%;
}

.phone-type, .phone-input, .email-type, .email-input {
    width: 45% !important;
}

.phone-input input, .email-input input {
    width: 100%;
}

.contact-picture-listed {
    width: 100%;
    height: 100%;
    min-width: 33px;
    object-fit: cover;
    border-radius: 3px;
}

.contact-initials {
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    background-color: var(--border-color);
    flex-shrink: 0;

    span {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12.8px;
        height: 33px;
    }

    img {
        height: 100%;
        width: 100%;
    }
}

.contact-initials:not(.large) {
    width: 33px;
    height: 33px;
    object-fit: cover;
}

.contact-initials.large {
    width: 45px;
    height: 45px;
}

.contacts-table, .leads-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 50px;
}

.contacts-table thead tr {
    padding: 0 10px;
}

.contacts-table tr {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 15px;
    cursor: pointer;
}

.contacts-table th, .contacts-table td {
    flex-direction: row;
    text-align: center;
}

.contacts-table th {
    color: var(--text-color);
}

.contacts-table td:not(:nth-child(2)) {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 14px;
    font-weight: 600;
}

.contacts-table td:nth-child(2) {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    font-size: 14px;
    font-weight: 600;
}

.tag {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    padding: 0 5px;
    font-size: 12.8px;
    height: 20px;
    gap: 5px;
    user-select: none;
}

.tag.input {
    color: var(--text-color);
}

.tag:not(.bright) {
    background-color: var(--card-color);
}

.tag.bright {
    background-color: var(--fill);
    color: var(--secondary-color);
}

.tag:not(.caps) {
    text-transform: lowercase;
}

.tag.caps {
    text-transform: capitalize;
}

.person-or-company {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    border: 1px solid var(--border-color);
    border-radius: 3px;
}

.poc {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    padding: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.poc.active {
    color: var(--fill);
    background-color: var(--border-color)
}

.poc:hover {
    cursor: pointer;
    background-color: var(--hover-color);
    border-radius: 3px;
}