.fields-list, .case-types {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.fields-list {
    margin-bottom: 50px;
}

.field {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    background-color: var(--secondary-color);
    border-radius: 3px;
    padding: 15px;
    width: 100%;
    position: relative;
}

.case-type {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    background-color: var(--secondary-color);
    padding: 15px;
    border-radius: 3px;
    width: 50%;
}

.field-name {
    width: 35%;
    text-wrap: wrap;
}

.field-info {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 25px;
    width: 35%;
}

.field p, .case-type p {
    margin: 0;
}

.option-input {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 2.5px;
}

.form-group.list {
    ul {
        margin: 0;
    }

    li {
        margin: 2px;
        color: var(--subtext-color);
    }
}

.advanced-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 15px;
    border-radius: 3px;
    margin: 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.advanced-options-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.advanced-options:hover {
    background-color: var(--border-color);
}

.form-group.alt {
    flex-direction: row;
    align-items: center;
    margin: 0;
    max-width: 50%;

    label {
        min-width: 35%;
        max-width: 35%;
        flex-shrink: 0;
    }
}

.form-group.alt input, .form-group.alt select {
    flex-grow: 1;
    min-width: 0;
}

.form-group.alt input[type="checkbox"] {
    display: none;
}

.form-group.alt .checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border: 1px solid var(--border-color);
    border-radius: 3px;
    cursor: pointer;
    margin: 0 20px;
}

.date-input {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 100%;
}

.contact-input {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    gap: 5px;
    width: 100%;
}

.contact-input input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.contact-input .form-box {
    cursor: pointer;
    border: 1px solid var(--border-color);
    background-color: var(--text-color);
    border-radius: 4px;
    user-select: none;
}

.search-dropdown {
    position: absolute;
    background-color: var(--secondary-color);
    border: 1px solid var(--border-color);
    border-radius: 4px;
    list-style: none;
    margin: 0;
    padding: 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    max-height: 150px;
    overflow-y: auto;
    scrollbar-color: var(--hover-color) var(--card-color);
    font-size: 14px;
}

.search-dropdown li {
    padding: 8px;
    cursor: pointer;
    border-bottom: 1px solid var(--border-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
}

.search-dropdown li:last-child {
    border-bottom: none;
}

.search-dropdown li:hover {
    background-color: var(--hover-color);
    color: var(--secondary-color);
}

.boolean {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--border-color);
    border-radius: 3px;
    min-height: 36px;
    flex-shrink: 0;
    max-width: 200px;
    overflow: hidden;
    user-select: none;
}

.boolean .option {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 5px 12px;
    height: 100%;
    cursor: pointer;
}

.boolean .option:not(:first-child) {
    border-left: 1px solid var(--border-color);
}

.multi-select-component {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    max-height: 100px;
    overflow-y: auto;
    scrollbar-color: var(--hover-color) var(--card-color);
    border: 1px solid var(--border-color);
    border-radius: 3px;
}

.ms-option {
    padding: 2.5px 10px;
    width: 100%;
    text-align: left;
    background-color: var(--secondary-color);
}

.ms-option.active {
    background-color: var(--fill);
    color: var(--secondary-color);
}

.ms-option:not(:last-child) {
    border-bottom: 1px solid var(--border-color);
}

.option:not(.active) {
    background-color: var(--secondary-color);
    color: var(--text-color);

    &:hover {
        background-color: var(--hover-color);
        color: var(--secondary-color);
    }
}

.option.active {
    background-color: var(--fill);
    color: var(--secondary-color);
    font-weight: 700;
}

.subheader {
    scroll-margin-top: 100px;
    margin: 0;
    padding-top: 10px;
    width: 100%;
}

.number-input {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
}

.number-input input {
    appearance: textfield;
    -moz-appearance: textfield;
    width: 100%;
}

.number-input input::-webkit-outer-spin-button,
.number-input input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.number-input .number-symbol {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 10px;
    height: 18px;
    width: 18px;

    svg {
        height: 100%;
        width: 100%;
    }
}

.instructions {
    color: var(--subtext-color);
    font-size: 12.8px;
    margin: 0;
    width: 100%;
}

.deadline-title {
    width: 100%;
}

.deadline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.deadline-date {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    width: 100%;
}

.deadline-group:not(.standard) {
    width: calc(66.66% - 5px);
}

.doc-gen {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 100%;
}

.file-list {
    display: flex;
    max-height: 75px;
    overflow-y: auto;
}

.table-of-contents {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px 20px;
    padding: 15px 0;
    width: 100%;
    position: sticky;
    background-color: var(--background-color);
    top: 0;
    z-index: 1002;

    a {
        transition: color 0.3s;
    }

    h3 {
        width: 100%;
        margin: 0;
    }
}

.exit {
    position: absolute;
    top: 10px;
    right: 10px;
    transition: background-color 0.3s, color 0.3s;
    height: 20px;
    width: 20px;
    border-radius: 3px;
}

.exit:hover {
    background-color: var(--hover-color);
    color: var(--secondary-color);
}

.search-select {
    width: 100%;
}

.search-select-input {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 36px;
    color: var(--text-color);
    border: 1px solid var(--border-color);
    border-radius: 3px;
    background-color: var(--secondary-color);
    padding: 0 10px;
    font-size: 14px;
    width: 100%;
}

.search-select-dropdown {
    position: absolute;
    width: 100%;
    z-index: 10;
    border: 1px solid var(--border-color);
    border-radius: 3px;
    background-color: var(--secondary-color);
    height: 150px;
    overflow-y: auto;
    font-size: 14px;

    input {
        border: none !important;
        border-bottom: 1px solid var(--border-color) !important;
    }
}

.toc-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.table-of-contents a:hover {
    color: var(--fill);
}

.contact-shortform {
    display: flex;
    background-color: var(--secondary-color);
    border-radius: 3px;
    max-width: 450px;
    width: 100%;
    padding: 10px;
    gap: 10px;
    position: relative;
    border: 1px solid var(--border-color);
}

.file-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5px;
}

.contact-display {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex=start;
    flex-wrap: wrap;
    width: 100%;
    gap: 2.5px;

    span:not(.contact-initials) {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        gap: 7.5px;
    }

    .contact-divider {
        display: flex !important;
        justify-content: flex-start !important;
        align-items: center !important;
        flex-shrink: 0;
        flex-wrap: wrap !important;
        gap: 2.5px !important;
    }
}

.selected-row-details {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.documents {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding: 15px;
}

.tasks-notis {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    gap: 2.5px;
    height: 100%;
    top: 0;
    left: calc(100%);
}

.notification {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    border-radius: 50%;
    transition: color 0.3s, background-color 0.3s, border 0.3s;
}

.notification.reminder {
    background-color: var(--fill);
    color: var(--secondary-color);
    margin-left: 28px;
    width: 15px;
    height: 15px;
    margin-top: 2px;
    position: absolute;
    z-index: 0;
}

.notification.priority {
    background-color: var(--priority-color);
    color: var(--secondary-color);
    z-index: 1;
    width: 19px;
    height: 19px;
    border: 2px solid var(--secondary-color);
}

@media (min-width: 769px) {
    .form-group.alt.mid {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .subtext {
        text-wrap: nowrap;
        text-decoration: none;
    }
}

@media (max-width: 768px) {
    .field, .field-info, .case-type {
        flex-direction: column;
        width: 100%;
    }

    .field p {
        width: 100%;
        text-wrap: wrap;
        text-align: center;
    }
}