.documents-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    width: 100%;
    height: 100%;
}

.document-section {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 15px;
    padding: 15px;
    width: 100%;
    height: auto;
    overflow-y: auto;
}

.document-content {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    height: 100%;
    min-height: 0;
    margin-bottom: 50px;

    tr {
        display: flex;
        justify-content: space-between;
    }
}

.file-name a {
    text-decoration: none;
}

.case td:not(.case-name), .lead td, .contact td {
    &:not(.contact-picture) {
        width: 100%;
    }
}

.folder-node.active {
    background-color: var(--border-color);
    color: var(--fill);
}

.document-filters {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    width: 100%;

    svg {
        transition: transform 0.3s;
    }
}

.file-rename-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 2.5px;
}

.testing-upload {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: var(--secondary-color);
    border-radius: 3px;
    transition: width 0.3s ease-in-out;
}

.testing-upload:not(.expanded) {
    width: 100px;
    border: 1px solid transparent;
}

.testing-upload.expanded {
    width: 250px;
    border: 1px dashed var(--border-color);
}