.lead-setup, .case-specs, .intake-details, .marketing-info, .case-details, .office-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 15px;

    .form-group, .form-group input, .contact-input {
        width: 100%;
    }
}

.form-group.left {
    align-items: flex-start !important;

    label {
        padding: 0 5px;
    }
}

.lead-list {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.lead, .case, .data-cell {
    font-size: 12.8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondary-color);
    height: 45px;
    cursor: pointer;
    border-bottom: 1px solid var(--border-color);
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
}

.lead:first-child, .case:first-child, .data-cell:first-child {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-top: 1px solid var(--border-color);
}

.lead:last-child, .case:last-child, .data-cell:last-child {
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.leads-table thead, .cases-table thead, .data-table thead {
    font-size: 14px;
    width: 100%;
}

.leads-table tr , .cases-table tr, .data-table tr {
    height: 45px;
    padding: 5px 15px;
}

.leads-table th, .cases-table th, .data-table th {
    display: flex;
    align-items: center;
    gap: 10px;

    &:not(.case-name) {
        justify-content: center;
        width: 100%;
    }
}

.data-table th, .data-table td {
    min-width: 150px;
}

.star-icon:not(.empty) {
    fill: var(--fill) !important;
}

@media (min-width: 769px) {
    .lead-name {
        min-width: 25%;
    }

    .lead-location {
        width: 35px;
    }
}

@media (max-width: 768px) {
    .lead-name {
        min-width: 50%;
    }

    .lead-location {
        display: none;
    }
}