input[type="file"] {
    display: none;
}

.case-library {
    gap: 20px;
}

.file-upload-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;

    h3 {
        margin: 0;
    }
}

.exhibits {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    min-height: 45px;
    font-weight: 500;
    position: relative;

    thead, tbody {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }

    tr {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 5px 20px;

        th {
            cursor:pointer;
            user-select: none;
        }

        th, td {
            font-size: 12.8px;
        }

        th:not(.file-actions)&:not(.file-name) td {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 14px;
        }

        .file-date, .file-size, .file-storage {
            width: 15%;
            text-align: center;
        }

        .file-storage {
            text-transform: capitalize;
        }

        .file-actions {
            width: 50px;
        }

        .file-actions-dots {
            padding: 5px 10px;
            border-radius: 3px;
            cursor:pointer;
            user-select: none;
        }

        .file-actions-dots:hover {
            background-color: var(--border-color);
        }
    }
}

.exhibit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondary-color);
    border-bottom: 1px solid var(--border-color);
    width: 100%;
    height: 40px;
    position: relative;
    transition: background-color 0.3s;
    cursor: pointer;
    user-select: text;
}

.exhibit:hover {
    background-color: var(--border-color);
}

.exhibit.active-file {
    background-color: var(--border-color);
}

.file-actions-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    z-index: 1002;
    top: 100%;
    right: 10px;
    background-color: var(--card-color);
    box-shadow: var(--button-box-shadow);
    border: 1px solid var(--border-color);
    border-radius: 3px;
    padding: 10px 20px;
}

.file-actions-menu-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    transition: all 0.3s;
    padding: 5px 10px;
    border-radius: 3px;
    width: 100%;
    span {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
}

.file-actions-menu-child:hover {
    background-color: var(--hover-color);
    color: var(--secondary-color);
}

.file-preview {
    position: absolute;
    background-color: var(--secondary-color);
    z-index: 1003;
    top: 0;
    border-radius: 3px;
    padding: 25px 50px;
}

.upload-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 100%;
}

@media (min-width: 800px) {
    .file-name {
        width: 35%;
        gap: 10px;
        justify-content: flex-start;
        text-wrap: nowrap;
        text-align: left;
    }

    .folder-creation {
        width: 50%;

        button {
            width: 75%;
        }
    }
}

@media (max-width: 800px) {
    #page-header h2 {
        margin-bottom: 0;
    }

    .file-name {
        width: 50%;
        gap: 5px;
        justify-content: flex-start;
        text-wrap: nowrap;
        text-align: left;
    }

    .upload-actions {
        flex-direction: column;
    }
}

.upload-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 10px 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: 0.3s ease;
    border-radius: 5px;
}

.upload-button:disabled {
    background-color: #aaa;
    cursor: not-allowed;
}

.spinner {
    animation: spin 1s linear infinite;
    width: 20px;
    height: 20px;
}

@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.file-list {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}

.folder-creation {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 125px;
}

.breadcrumb {
    cursor: pointer;
}