.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1002;
}

.modal-content {
    background: var(--secondary-color);
    border-radius: 3px;
    box-shadow: var(--large-box-shadow);
    width: 80%;
    overflow-y: auto;
    position: relative;
    scrollbar-color: var(--hover-color) var(--card-color);
}

.modal-content:not(.wide) {
    max-width: 500px;
}

.modal-content.wide {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    max-width: 800px;
    height: 80%;

    .address {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-end;
        width: 100%;
    }

    .form-group {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 47.5%;
        margin: 5px 0 0 0;

        label {
            width: 100%;
            text-align: left;
            font-size: 14px;
            color: var(--subtext-color);
        }
    }

    .form-group.phone {
        width: 100%;
    }

    .form-group.postal {
        width: 37.5%;
    }
}

.modal-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    top: 0;
    padding: 20px 20px 0 20px;
    background: linear-gradient(to bottom, rgba(0,0,0,0.25), rgba(0,0,0,0));
}

.modal-header-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.modal-content-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    overflow-y: auto;
    padding: 20px;
}

.modal-content-wrapper form {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    flex-direction: row;
    height: 75%;
    margin: 0 15px;
    gap: 10px;

    input[type="date"] {
        width: 100%;
    }
}

.modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    padding: 0;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: var(--text-color);
}

.person-or-company {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    border: 1px solid var(--border-color);
    border-radius: 3px;
}

.poc {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    padding: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.poc.active {
    color: var(--fill);
    background-color: var(--border-color)
}

.poc:hover {
    cursor: pointer;
    background-color: var(--hover-color);
    border-radius: 3px;
}

.required {
    color: rgba(255, 76, 76, 0.89);
}

@media (min-width: 768px) {
    .modal-title {
        position: sticky;
    }
}

@media (max-width: 768px) {
    .modal-title {
        flex-direction: column;
    }
}