.page-container > form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 20px 0;

  > label {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    color: var(--text-color);
  }
  
  > input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
}