@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Inter', 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
}

:root {
  --theme: light;
  --background-color: #eceff1;
  --secondary-color: #fff;
  --card-color: #dfedf8;
  --text-color: #333;
  --subtext-color: rgb(99, 99, 99);
  --svg-fill: rgb(81, 81, 97);
  --border-color: #ddd;
  --line-color: rgba(0,0,0,0.1);
  --button-box-shadow: 0 0 10px 10px rgba(255, 136, 57, 0.025);
  --large-box-shadow: 0 0 50px 25px rgba(0, 0, 0, 0.1);
  --hover-color: #8b8b8b;
  --context-color: white;
  --size-of-icon: 1.4em;
  --slider-offset: 0.3em;
  --dark: 0;
  --graph-color: #624b8f;
  --fill: rgb(40, 57, 85);
  --fill-2: #f4bc41;
  --fill-3: #442208;
  --fill-4: #262533;
  --priority-color: #f44141;
  --redirect-arrow: url('./resources/arrow.svg'), pointer;
}

.dark {
  --theme: dark;
  --background-color: #101214;
  --secondary-color: #1d2125;
  --card-color: #2c343b;
  --text-color: #F7F8F9;
  --subtext-color: #C7D1DB;
  --svg-fill: #cccccc;
  --border-color: #333;
  --line-color: rgba(255,255,255,0.1);
  --button-box-shadow: 0 0 10px 10px rgba(129, 150, 255, 0.05);
  --large-box-shadow: 0 0 25px rgba(255, 255, 255, 0.05);
  --context-color: rgb(0, 0, 0);
  --dark: 255;
  --graph-color: #ede8ff;
  --fill: #f4bc41;
  --fill-2: #283955;
  --fill-3: #BABFE0;
  --fill-4: #C8C4BF;
}

body {
  width: 100%;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color) !important;
  font-weight: 500 !important;
  scrollbar-color: var(--hover-color) var(--card-color);
}

#root {
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.pages {
  margin: 10px;
}

label, .pages span {
  color: var(--text-color);
}

.page-size {
  margin-bottom: 5px;
}

#settings {
  color: var(--text-color);
  gap: 15px;
  width: 100%;
}

#settings > div:not(.alert), .section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--secondary-color);
  border: 1px solid var(--border-color);
  border-radius: 8px;
  padding: 20px;
  max-width: 550px;
}

#new-data-form > label {
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-direction: column;
}

.input-section-container {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  padding: 0 20px;
}

#settings h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

#settings .cookies-section, #settings .account-section {
  margin-bottom: 20px;
}

.delete {
  background-color: rgb(247, 50, 50);
  color: var(--card-color);
  margin-left: 10px;
  font-size: 14px;
  font-weight: 600;
}

#settings h2 {
  font-size: 1.5em;
  margin: 0 0 10px 0;
  text-align: center;
  width: 100%;
}

#settings ul {
  list-style: none;
  padding: 0;
  text-transform: capitalize;
}

.label-container {
  display: flex;
  justify-content: space-between;
  align-items: end;
  flex-direction: column;
  
  > label {
    line-height: 1;
    height: 36px;
    margin-top: 5px;
    margin-bottom: 15px;
  }
}

.input-container {
  display: flex;
  height: 100%;
  justify-content: space-between;
  flex-direction: column;
}

#settings label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

.page-container > div:not(.file-upload):not(.data-action-container) {
  width: 90%;

  > table, tbody {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }
}

#new-data-form input {
  width: 250px;
  padding: 10px;
  margin: 0;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  color: var(--text-color);
}

input {
  background-color: var(--secondary-color);
}

.file-upload {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  color: var(--text-color);
  padding: 5px 25px;
  min-height: 36px;
  max-width: 100%;
  margin: 0;
  gap: 15px;
  border-radius: 4px;
  text-wrap: nowrap;
  cursor: pointer;
  transition: color 0.3s, background-color 0.3s, width 0.3s, border 0.3s;

  input {
    width: 200px;
  }
}

.file-upload:not(.expanded) {
  width: 100px;
  background-color: var(--text-color);
  border: 1px solid transparent;
  label {
    color: var(--secondary-color);
  }
}

.file-upload.expanded {
  min-width: 250px;
  max-width: 350px;
  background-color: var(--secondary-color);
  color: var(--text-color);
  border: 1px dashed var(--border-color);
}

.file-upload input[type="file"] {
  display: none;
}

.file-upload label {
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.file-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.upload {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--text-color);
  color: var(--secondary-color);
  border: none;
  border-radius: 3px;
  padding: 0 10px;
  height: 26px;
}

input[type='checkbox']:not(:checked) {
  outline: none;
  border: 1px solid var(--dark);
  background-color: black;
}

.page-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  position: relative;
  margin: 0;
  min-height: 100vh;
  padding: 20px 20px 0 100px;
}

#weather-table td {
  flex-direction: column;
}

tr {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
  width: 100%;

  td {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.stacked {
  flex-direction: column;
}

table:not(.schools) > tbody > tr > td {
  height: 100%;
  text-align: center;
}

.schools {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 15px;
  border-bottom: 1px solid var(--border-color);
}

.light, .column-active {
  background-color: var(--line-color);
}

.clear {
  background-color: transparent;
}

@media (min-width: 769px) {
  #page-header {
    gap: 25px;
  }

  .case-page > #page-header {
    padding: 0 20px;
  }
}

@media (max-width: 768px) {
  body {
    font-size: 14px;
  }

  button {
    max-width: 100%;
    padding: 10px;
  }

  .page-container {
    min-width: 100%;
  }

  #page-header {
    flex-direction: column;
    gap: 15px;

    h1 {
      margin: 0;
    }
  }
}

.page-container > div:not(.file-upload):not(.data-action-container) {
  width: 100%;
}

#weather-table {
  margin: 50px;

  thead, th, td {
    width: 100%;
  }
}

#weather-table {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  border-collapse: collapse;
}

#weather-table th {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 3px;
  font-weight: bold;
  color: var(--text-color);
  background-color: var(--secondary-color);
  text-align: center;
  border-bottom: 2px solid var(--border-color);
  white-space: nowrap;
}

#weather-table th::before {
  content: attr(data-label);
  display: block;
}

#weather-table tr, #weather-table td {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

#weather-table td {
  padding: 8px;
  text-align: center;
  flex-grow: 1;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-right: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
}

#weather-table td:hover {
  background: var(--card-color);
}

.divider {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--border-color);
  transition: width 0.3s, height 0.3s;

  &.vertical {
      width: 1px;
      max-height: 90%;
      height: 100%;
      min-height: 225px;
  }

  &.horizontal {
      height: 1px;
      min-height: 1px;
      max-width: 100%;
      width: 100%;
  }
}

#page-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}

.default-select {
  font-weight: 600;
  scrollbar-color: var(--hover-color) var(--card-color);
  transition: background-color 0.3s, color 0.3s;
}

.default-select, .action, .section-properties input, .section-properties textarea {
  outline: none;
  border-radius: 3px;

  &:not(.small) {
    max-width: 500px;
  }
}

.small {
  margin: 0 !important;
}

.default-select, .action, .section-properties input {
  padding: 0 10px;
  min-height: 36px;
}

.default-select, .section-properties input, .section-properties textarea {
  color: var(--text-color);
  border: 1px solid var(--border-color);
  background: var(--secondary-color);

  option {
      color: var(--text-color);
  }
}

.info-icon:hover {
  cursor:pointer;
}

.action {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  color: var(--secondary-color);
  border: none;
  font-weight: 800;
  cursor: pointer;
  padding: 0 18px;
  transition: background 0.3s ease-in-out, transform 0.2s;
}

.action:not(.nav-toggle-button) {
  max-width: 200px;
}

.action:not(.alt) {
  background-color: var(--fill);
}

.action.alt {
  background-color: var(--text-color);
}

.action.secondary {
  color: var(--text-color);
  background-color: transparent;
  border: 1px solid var(--border-color);
  border-radius: 3px;
  width: 100%;
}

.action:hover {
  transform: scale(1.05);
}

.sub-title {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  gap: 15px;
  margin: 30px 0 5px 0;

  h4 {
      text-wrap: nowrap;
      margin: 0;
  }
}

.sub-title.alt {
  color: var(--subtext-color);
}

option:disabled {
  color: var(--dark) !important;
}

.info-label {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}