.bar input[type="checkbox"] {
    -webkit-appearance: none;
    display: none;
    visibility: hidden;
}

.bar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    cursor: pointer;
    width: 30px;
    height: 25px;
}

.bar span {
    width: 30px;
    height: 5px;
    background: var(--text-color);
    border-radius: 100px;
    display: inline-block;
    transition: 0.3s ease;
}

input[type="checkbox"]:checked ~ span.top {
    transform: rotate(45deg);
    transform-origin: top left;
}

input[type="checkbox"]:checked ~ span.bottom {
    transform: rotate(-45deg);
    box-shadow: 0 0 10px #495057;
    position: absolute;
    bottom: 10px;
    left: -6px;
}

input[type="checkbox"]:checked ~ span.middle {
    transform: translateX(-20px);
    opacity: 0;
}